---
import Layout from "../../layouts/Layout.astro";

import CardProduto from "@components/CardProduto.astro";

import listaCategoria from "@data/categoria";
import pb from "@lib/pocketbase";

export function getStaticPaths() {
  let listaParams = [];
  listaCategoria.forEach((cat) => {
    listaParams = [...listaParams, { params: { categoria: cat.titulo } }];
  });

  return listaParams;
}

const { categoria } = Astro.params;

pb.autoCancellation(false);

const listaProduto = await pb.collection("produtos").getFullList({
  expand: "categoria",
  filter: `categoria.titulo = "${categoria}"`,
  sort: "ref",
});
---

<Layout title={categoria}>
  <section class="container mx-auto py-12">
    <h2 class="text-6xl text-primary text-bold text-center uppercase font-bold">
      {categoria}
    </h2>

    <div class="grid grid-cols-4 gap-3 py-12">
      {
        listaProduto.map((produto) => (
          <CardProduto
            id={produto.id}
            titulo={produto.descricao}
            imagem={produto.image}
            ref={produto.ref}
            categoria={produto.categoria}
          />
        ))
      }
    </div>
  </section>
</Layout>
