---
import Layout from "../../layouts/Layout.astro";

import CardProduto from "@components/CardProduto.astro";

import listaCategoria from "@data/categoria";
import pb from "@lib/pocketbase";

export function getStaticPaths() {
  let listaParams = [];
  listaCategoria.forEach((cat) => {
    listaParams = [...listaParams, { params: { categoria: cat.titulo } }];
  });

  return listaParams;
}

const { categoria } = Astro.params;

pb.autoCancellation(false);

let listaProduto = undefined;
let caixaria = undefined;


if (categoria === "Bovinos") {
  listaProduto =  await pb.collection("produtos").getFullList({
    expand: "categoria",
    filter: `ref ~"G"`,
    sort: "ref",
  });
    caixaria =  await pb.collection("produtos").getFullList({
      expand: "categoria",
      filter: `ref ~"C"`,
      sort: "ref",
  });  
  
} 

else {
  listaProduto = await pb.collection("produtos").getFullList({
  expand: "categoria",
  filter: `categoria.titulo = "${categoria}"`,
  sort: "ref",
});
}
---

<Layout title={categoria}>
  <section class="py-12">
    <div class="container mx-auto space-y-12">
      <div class="flex justify-center flex-col items-center gap-20">
        <h2
          class="text-3xl text-primary text-center uppercase font-semibold flex items-center gap-2"
        >
          <img
            src=`/assets/svg/categorias/${categoria.toLowerCase()}.svg`
            alt="icon de ${categoria}"
            class="size-6"
          />

          {categoria==="Bovinos" ? (categoria + " - Gancho")  : categoria}
           
        </h2>
        {(categoria==='Cordeiros' || categoria==="Suinos"  || categoria==="Bovinos" || categoria==="Aves") && (
          
          <div class="flex">
            <img
            src=`/assets/svg/mapas/${categoria}_mapa.svg`
            alt=`Mapa do animal ${categoria}`
            class=""
           />

          {
            categoria === "Cordeiros" && (
              <img src="/assets/svg/mapas/cordeiros_infos.svg" />
            )
          }
          </div>
        )
      }
        
      </div>

      <div class="grid grid-cols-4 gap-3 py-4">
        
        {
          listaProduto.map((produto) => (
            <CardProduto
              id={produto.id}
              titulo={produto.descricao}
              imagem={produto.image}
              ref={produto.ref}
              categoria={produto.categoria}
            />
          ))
        }
      </div>

    

    {caixaria && (
      
      
      <h2
          class="text-3xl text-primary text-center uppercase font-semibold flex items-center gap-2"
        >
          <img
            src=`/assets/svg/categorias/${categoria.toLowerCase()}.svg`
            alt="icon de ${categoria}"
            class="size-6"
          />
          {categoria} - Caixaria
      </h2>
      
      
      <div class="grid grid-cols-4 gap-3 py-4">
              {
                caixaria.map((produto) => (
                  <CardProduto
                    id={produto.id}
                    titulo={produto.descricao}
                    imagem={produto.image}
                    ref={produto.ref}
                    categoria={produto.categoria}
                  />
                ))
              }
            </div>
      )}

    </div>
  </section>
</Layout>
