---
import Layout from "../../layouts/Layout.astro";

import CardProduto from "@components/CardProduto.astro";

import listaCategoria from "@data/categoria";
import pb from "@lib/pocketbase";

export function getStaticPaths() {
  let listaParams = [];
  listaCategoria.forEach((cat) => {
    listaParams = [...listaParams, { params: { categoria: cat.titulo } }];
  });

  return listaParams;
}

const { categoria } = Astro.params;

pb.autoCancellation(false);

let listaProduto = undefined;
let caixaria = undefined;


if (categoria === "Bovinos") {
  listaProduto =  await pb.collection("produtos").getFullList({
    expand: "categoria",
    filter: `ref ~"G"`,
    sort: "ref",
  });
    caixaria =  await pb.collection("produtos").getFullList({
      expand: "categoria",
      filter: `ref ~"C"`,
      sort: "ref",
  });  
  
} 

else {
  listaProduto = await pb.collection("produtos").getFullList({
  expand: "categoria",
  filter: `categoria.titulo = "${categoria}"`,
  sort: "ref",
});
}
---

<Layout title={categoria}>
  <section class="py-12">
    <div class="container mx-auto space-y-12">
      <div class="flex justify-center flex-col items-center gap-20 relative">
        <h2
          class="text-3xl text-primary text-center uppercase font-semibold flex items-center gap-2 relative"
        >
          <img
            src=`/assets/svg/categorias/${categoria.toLowerCase()}.svg`
            alt="icon de ${categoria}"
            class="size-6"
          />

          {categoria==="Bovinos" ? (categoria + " Com Osso - Gancho")  : categoria}
           
        </h2>
        
        
        {(categoria==='Cordeiros' || categoria==="Suinos"  || categoria==="Bovinos" || categoria==="Aves") && (
          
          <div class="flex items-center justify-center">
            <img
            src=`/assets/svg/mapas/${categoria}_mapa.svg`
            alt=`Mapa do animal ${categoria}`
            class=""
           />

          {
            categoria === "Cordeiros" && (
            
              <img src="/assets/produtos/Parceiros/info-cordeiros.png" class="-ml-14 -z-10" />
              <img src="/assets/produtos/Parceiros/logo-latina-producao-propria.png" class="object-contain order-first mr-14" />
              
             
            )
          }
          {
            categoria === "Bovinos" && (
              <img src="/assets/produtos/Parceiros/frigolon-logo.png" class="object-contain ml-10" />
            )
          }
          </div>
        )
      }
        
      </div>

      <div class="grid grid-cols-4 py-4">
        
        {
          listaProduto.map((produto) => (
            <CardProduto
              id={produto.id}
              titulo={produto.descricao}
              imagem={produto.image}
              ref={categoria==="Bovinos" ? produto.ref : ""}
              categoria={produto.categoria}
              record={produto}
            />
          ))
        }
      </div>

    
          <!-- Bovino tem Caixaria -->
    
    {caixaria && (
      
      <div class="space-y-4">

      <h2
          class="text-3xl text-primary text-center uppercase font-semibold flex items-center gap-2 justify-center"
          >
          <img
            src=`/assets/svg/categorias/${categoria.toLowerCase()}.svg`
            alt="icon de ${categoria}"
            class="size-6"
            />
          {categoria} - Caixaria
      </h2>

      <div class="flex gap-4  items-center pt-3">
        <h3 class="text-xl font-semibold text-primary uppercase">Parceiros:</h3>
        <div class="flex">
          <img src="/assets/produtos/Parceiros/frigolon-logo.png" alt="Logo dos Parceiros caixaria" class="w-28 object-contain">
          <img src="/assets/produtos/Parceiros/parceiros-logos.png" alt="Logo dos Parceiros caixaria">
        </div>
      </div>
      
      
      <div class="grid grid-cols-4 py-4">
              {
                caixaria.map((produto) => (
                  <CardProduto
                  id={produto.id}
                  titulo={produto.descricao}
                  imagem={produto.image}
                  ref={""}
                  categoria={produto.categoria}
                  record={produto}
                  />
                ))
              }
      </div>
    </div>
      )}

              </div>
  </section>
</Layout>
