---
import CardProduto from "../CardProduto.astro";
const { categoria } = Astro.props;

import pb from "@lib/pocketbase";

pb.autoCancellation(false);
const listaProdutosCategoria = await pb.collection("produtos").getList(1, 4, {
  expand: "categoria",
  filter: `categoria.titulo = "${categoria.titulo}"`,
  sort: "@random",
});

const listaProduto = listaProdutosCategoria.items;
---

<section class="flex flex-col py-8 px-4 lg:px-0 space-y-8" id="categoria">
  <div class="flex gap-4 items-center lg:justify-start justify-center">
    <img
      src={categoria.icon.src}
      alt={`Icone de ${categoria.titulo}`}
      class="size-8"
    />
    <h2 class="font-semibold text-primary text-3xl text-center lg:text-start">
      {categoria.titulo}
    </h2>
  </div>
  <section class="space-y-8 flex flex-col">
    <div class="grid sm:grid-cols-2 xl:grid-cols-4">
      {
        listaProduto.map((produto) => (
          <CardProduto
            id={produto.id}
            titulo={produto.descricao}
            imagem={produto.image}
            ref={""}
            categoria={produto.categoria}
            record={produto}
          />
        ))
      }
    </div>
    <a
      href={"/produtos/" + categoria.titulo}
      class="btn btn-secondary w-full uppercase lg:max-w-sm text-lg flex-end"
    >
      Veja a lista completa
    </a>
  </section>
  <div class="divider"></div>
</section>
