---
import CardProduto from "../CardProduto.astro";
const { categoria } = Astro.props;

import pb from "@lib/pocketbase";

pb.autoCancellation(false);
const listaProdutosCategoria = await pb.collection("produtos").getList(1, 4, {
  expand: "categoria",
  filter: `categoria.titulo = "${categoria.titulo}"`,
  sort: "@random",
});

const listaProduto = listaProdutosCategoria.items;
---

<div class="min-h-[50svh] flex flex-col py-6 space-y-16">
  <div class="flex gap-4 items-center">
    <img
      src={categoria.icon.src}
      alt={`Icone de ${categoria.titulo}`}
      class="size-8"
    />
    <h2 class="font-semibold text-primary text-3xl">
      {categoria.titulo}
    </h2>
  </div>
  <div class="grid grid-cols-5 items-center gap-4">
    <div class="grid grid-cols-4 col-span-4 gap-x-4 place-content-center">
      {
        listaProduto.map((produto) => (
          <CardProduto
            id={produto.id}
            titulo={produto.descricao}
            imagem={produto.image}
            ref={produto.ref}
            categoria={produto.categoria}
          />
        ))
      }
    </div>
    <a
      href={"/produtos/" + categoria.titulo}
      class="btn btn-secondary max-w-xs uppercase"
    >
      Veja a lista completa
    </a>
  </div>

  <div class="divider"></div>
</div>
