---
import getImageFromPB from "@lib/utils/getImageFromPB";
import { Image } from "astro:assets";
import pb from "@lib/pocketbase";
const { id, titulo, ref, imagem, categoria, record } = Astro.props;

let url = pb.files.getUrl(record, imagem, { thumb: "240x320" });
let icon = pb.files.getUrl(record.expand.categoria, record.expand.categoria.icon)



---

{ref ? (
<div
  class="relative bg-base-100 max-w-none grid grid-cols-3 border border-gray-300 rounded-xl "
>
  <div class="card-body self-start z-20 flex flex-col gap-4 items-start justify-between">
    <h2 class="card-title text-primary text-2xl ">
      {titulo}
    </h2>
      
    {ref && <p class="text-secondary flex flex-col justify-between items-center"> <img src={icon} alt="Icon" class="size-10  bg-primary p-1 bg-transparent rounded-full border border-1 border-secondary mb-1"> {ref}</p>}
  </div>
  <figure class="w-[240px] h-[320px] overflow-hidden col-span-2">
    <Image
      src={url}
      alt={`imagem de ${titulo}`}
      class="w-full h-full object-contain"
      width={240}
      height={320}
      loading="lazy"
    />
  </figure>
  <!-- Canto superior esquerdo -->
  <div class="absolute top-0 left-0 w-8 h-8 bg-white"></div>
  <!-- Canto superior direito -->
  <div class="absolute top-0 right-0 w-8 h-8 bg-white"></div>
  <!-- Canto inferior esquerdo -->
  <div class="absolute bottom-0 left-0 w-8 h-8 bg-white"></div>
  <!-- Canto inferior direito -->
  <div class="absolute bottom-0 right-0 w-8 h-8 bg-white"></div>
</div>
) :
(
<div
  class="relative bg-base-100 max-w-none grid grid-cols-1 border border-gray-300 rounded-xl"
>
  <div class="card-body self-start z-20 relative">
    <h2 class="card-title text-primary text-2xl flex justify-between items-center">
      {titulo}
      <img src={icon} alt="Icon" class="size-10  bg-primary p-1 bg-transparent rounded-full border border-1 border-secondary">
    </h2>
    {ref && <p class="text-secondary">{ref}</p>}
  </div>
  <figure class="w-full h-[320px] max-w-[300px] overflow-hidden col-span-2 place-self-center relative">
    <Image
      src={url}
      alt={`imagem de ${titulo}`}
      class="w-full h-full object-contain"
      width={240}
      height={320}
      loading="lazy"
    />
    
  </figure>
  <!-- Canto superior esquerdo -->
  <div class="absolute top-0 left-0 w-8 h-8 bg-white"></div>
  <!-- Canto superior direito -->
  <div class="absolute top-0 right-0 w-8 h-8 bg-white"></div>
  <!-- Canto inferior esquerdo -->
  <div class="absolute bottom-0 left-0 w-8 h-8 bg-white"></div>
  <!-- Canto inferior direito -->
  <div class="absolute bottom-0 right-0 w-8 h-8 bg-white"></div>
</div>
)


}



